<div class="readable-content" [class.readable-content--compact]="compact()">
  @for (section of sections(); track section.id + $index) {
    <section
      class="readable-content__section"
      [class.readable-content__section--rtl]="section.rtl"
    >
      @if (showLabels()) {
        <h3 class="readable-content__label" appBidiText>{{ section.label }}</h3>
      }

      <div class="readable-content__blocks">
        @for (block of section.blocks; track $index) {
          @if (block.type === 'paragraph') {
            <p class="readable-content__paragraph" appBidiText>{{ block.text }}</p>
          } @else {
            <ul class="readable-content__list">
              @for (item of block.items; track item) {
                <li appBidiText>{{ item }}</li>
              }
            </ul>
          }
        }
      </div>
    </section>
  }
</div>
